<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel = 'stylesheet' href = '/style.css'/>
</head>
<body class = "body">
  <nav id = "nav">
    <ul>
      <li><a class = "a" href = "/pizzas">Pizza Orders</a></li>
      <li><a class = 'a' href = "/pizzas/new">Place Order</a></li>
    </ul>

  </nav>

  <%= yield %>
</body>
</html>